.header {
    height: 70px;
    background-color: var(--mbcolor);

    border: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;
}

.left-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 10px;
}

.logo {
    height: 65px;
}

.name {
    font-weight: 600;
    color: white;
    font-size: 40px;
    margin-left: 10px;
}

.right-section{
    display: flex;
    align-items: center;
    margin-right: 10px;
}