.al-back-button {
    /* background-color: blue; */
    width: 660px;
    height: 40px;
    position: relative;
}

.al-arrow{
    /* background-color: aqua; */
    position:absolute;
    left: 10px;
    bottom: -10px;
    width: 50px;
    height: 40px;
    opacity: 1;
    transition: opacity .15s;
}

.al-arrow:hover{
    opacity: 0.5;
    cursor: pointer;
}

.arrow{
    background-color: white;
    height: 5px;
    width: 50px;
    border-radius: 5px;
    position:relative;
    top: 17.5px;
}

.arrow:after{
    content:"";
    background-color: white;
    display: inline-block;
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    border-radius: 5px;
    position: absolute;
    left: -5px;
    bottom: 8px;
}

.arrow:before{
    content:"";
    background-color: white;
    display: inline-block;
    width: 25px;
    height: 5px;
    transform: rotate(45deg);
    border-radius: 5px;
    position: absolute;
    left: -5px;
    top: 8px;
}


/* .al-back {
    background-color: var(--mbcolor);
    color: white;
    font-size: 18px;

    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    height: 40px;
    width: 70px;
    position: absolute;
    left: 0px;
}

.al-back:before{
    border-top: 20px transparent;
    border-bottom: 20px transparent;
} */

.al-grid {

    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    row-gap: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.al-beer {
    height: 200px;
    width: 500px;
    background-color: white;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.al-icon {
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.al-beer-glass {
    height: 120px;
}

.al-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.al-title {
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 10px;
}

.al-description {
    width: 300px;
    font-size: 18px;
    font-weight: 100;
    color: black;

    margin-top: 10px;
    margin-bottom: 20px;
}